# Environment variables
.env

# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code settings
.vscode/

# Folders
outputs/*
!outputs/.gitkeep

results/*
!results/.gitkeep

